html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #FEFBF1;
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
}

.header-content {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0px;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    color: #703412;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    text-decoration: none;
}

.first-sect {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 140px;
}

.first-sect > h6 {
    color: #703412;
    font-family: 'Roboto';
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px; /* 400% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.first-sect > h1 {
    width: 848px;
    color: #703412;
    font-family: 'Roboto';
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; /* 110% */
    margin: 0px;
}

.first-sect > p {
    width: 571px;
    color: #703412;
    font-family: 'Roboto';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 41.6px; /* 130% */
    margin: 120px 0px 0px 0px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 194px;
    padding-bottom: 122px;
    gap: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 312px;
}

.card > h5 {
    color: #703412;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 120% */
    padding-left: 36px;
    margin: 32px 0px 0px 0px;
}

.card > p {
    padding-left: 36px;
    color: rgba(112, 52, 18, 0.72);
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin: 11px 0px 0px 0px;
}

#bag {
    width: 283px;
}

#footer {
    margin: 0px;
    padding: 0px;
    background-color: #084935;
}

ul {
    margin: 0px;
}

span {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

h2 {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px; /* 128% */
    width: 711px;
}

h2 > a {
    color: rgba(255, 255, 255, 0.72);
    font-family: 'Roboto';
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 38.4px; /* 132.414% */
    text-decoration: none;
}

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
    padding-bottom: 81px;
}

.uls {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 170px;
}

.uls > ul > li {
    list-style: none;
    color: rgba(255, 255, 255, 0.72);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.uls > ul {
    padding: 0px;
}


footer {
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    background-color: #084935;
}

.footer-content > p {
    margin: 0px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.footer-content {
    padding: 20px 0px 20px 0px;
}